.deps
.libs
*.la
*.lo
*.o
ChangeLog
autom4te.cache
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
doc/api
doc/Doxyfile
etc/pkg-config/scew.pc
examples/scew_print/scew_print
examples/scew_stream/scew_stream
examples/scew_write/scew_write
examples/win32/Debug
examples/win32/Release
examples/win32/scew_examples.ncb
examples/win32/scew_examples.suo
examples/win32/scew_examples.vcproj.*
examples/win32/scew_print/Debug
examples/win32/scew_print/Release
examples/win32/scew_print/scew_print.ncb
examples/win32/scew_print/scew_print.suo
examples/win32/scew_print/scew_print.vcproj.*
examples/win32/scew_stream/Debug
examples/win32/scew_stream/Release
examples/win32/scew_stream/scew_stream.ncb
examples/win32/scew_stream/scew_stream.suo
examples/win32/scew_stream/scew_stream.vcproj.*
examples/win32/scew_write/Debug
examples/win32/scew_write/Release
examples/win32/scew_write/scew_write.ncb
examples/win32/scew_write/scew_write.suo
examples/win32/scew_write/scew_write.vcproj.*
tests/check_attribute
tests/check_element
tests/check_list
tests/check_tree
tests/check_parser
tests/check_printer
tests/check_reader_buffer
tests/check_reader_file
tests/check_writer_buffer
tests/check_writer_file
win32/build
win32/lib
win32/scew.ncb
win32/scew.suo
win32/scew.vcproj.*
